@model IEnumerable<WebEnvironment_Hackathon_GaMo.Models.Forum>

@{
    ViewData["Title"] = "Index";
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70">
                        <h2>Diễn đàn</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/Forum/Index">Diễn đàn</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<div class="service-area section-padding30">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-11">
                    <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="@item.ImageUrl" alt="">
                    </div>
                    <div class="cat-cap">
                            <h5><a href="#">@Html.DisplayFor(modelItem => item.Description)</a></h5>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Services Area End -->
<!--? About Area Start -->
<section class="support-company-area fix pb-padding">
    {}
        <div class="support-wrapper align-items-center">
             @foreach (var item in Model) {
            <div class="left-content">
                <!-- section tittle -->
            
                <div class="section-tittle section-tittle2 mb-30">

                    <span>@Html.DisplayFor(modelItem => item.Created_At)</span>
                    <h2>@Html.DisplayFor(modelItem => item.Title_Post)</h2>
                
                </div>
                <div class="support-caption">
                    <p class="pera-top">
                    
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <a href="#" class="border-btn">Bình luận</a>                
            </div>
            
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="/themes/img/gallery/safe_in.png" alt="">
            </div>            
        </div>
        }
    </div>

</section>
<!-- About Area End -->

